
@{
    ViewBag.Title = "PermissionsError";
    Layout = "~/Views/Shared/_MenuAdministrador.cshtml";
}
<div class="alert alert-danger" role="alert">
    <strong>No cuenta con permisos para esta funcionalidad.</strong>
</div>

