   <div class="container-login100" style="background-image: url('../../images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
            <form class="login100-form validate-form" action="~/Login/AutenticarUsuario" method="post">
                <span class="login100-form-title p-b-37">
                    Ingresar
                </span>

                <div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese el nombre de usuario">
                    <input class="input100" type="text" name="Usuario" placeholder="Usuario" required>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-25" data-validate="Ingrese la contraseña">
                    <input class="input100" type="password" name="Password" placeholder="Contraseña" required>
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Iniciar Sesión
                    </button>
                </div>

                <div class="text-center">
                    <a href='@Url.Action("Registro", "Login")'>Registrarse</a>
                </div>
            </form>
        </div>
    </div>
