@model BookRentalApp.Models.ViewModels.Usuario

<div class="container-login100" style="background-image: url('../../images/bg-02.jpg');">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
        <form class="login100-form validate-form" action="~/Login/RegistrarUsuario" method="post">
            <span class="login100-form-title p-b-37">
                Registrarse
            </span>

            <div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese su primer nombre">
                <input class="input100" type="text" name="PrimerNombre" placeholder="Primer Nombre" required>
                <span class="focus-input100"></span>
                @*@Html.LabelFor(a => a.PrimerNombre)
                @Html.TextBoxFor(a => a.PrimerNombre, "", new { @class = "input100" })*@
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese su segundo nombre">
                <input class="input100" type="text" name="SegundoNombre" placeholder="Segundo Nombre">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese su primer apellido">
                <input class="input100" type="text" name="PrimerApellido" placeholder="Primer Apellido" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese su segundo apellido">
                <input class="input100" type="text" name="SegundoApellido" placeholder="Segundo Apellido">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese su número telefónico">
                <input class="input100" type="text" name="Telefono" placeholder="Teléfono" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese su dirección">
                <input class="input100" type="text" name="Direccion" placeholder="Dirección" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese su documento de identificación">
                <input class="input100" type="text" name="Documento" placeholder="Documento de identificación" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-20" data-validate="Seleccione el tipo de documento">       
                <select name="TipoDocumento" required>
                    <option value="CC" selected>CC</option>
                    <option value="PA">PA</option>
                    <option value="NUIP">NUIP</option>
                </select>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-20" data-validate="Ingrese el nombre de usuario">
                <input class="input100" type="text" name="Correo" placeholder="Usuario" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25" data-validate="Ingrese la contraseña">
                <input class="input100" type="password" name="Contrasena" placeholder="Contraseña" required>
                <span class="focus-input100"></span>
            </div>

            <div class="container-login100-form-btn">
                <button class="login100-form-btn">
                    Registrarse
                </button>                
            </div>
        </form>
    </div>
</div>

