@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MenuAdministrador.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div class="panel panel-primary" style="margin-top:10px">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span> Panel de administración
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="#" class="btn btn-danger btn-lg btn-block" role="button"><span class="glyphicon glyphicon-list-alt"></span> <br />Agregar libro</a>
                            <a href="#" class="btn btn-warning btn-lg btn-block" role="button"><span class="glyphicon glyphicon-bookmark"></span> <br />Administrar libros</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="#" class="btn btn-success btn-lg btn-block" role="button"><span class="glyphicon glyphicon-user"></span> <br />Agregar tarifa</a>
                            <a href="#" class="btn btn-info btn-lg btn-block" role="button"><span class="glyphicon glyphicon-file"></span> <br />Administrar tarifas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
